@model MvcOnlineTicariOtomasyon.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Personel Güncelleme</h2>
<br />

@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post,new { enctype = "multipart/form-data" }))
{

    @Html.HiddenFor(x => x.Personelid)
    <div class="form-group">
        @Html.LabelFor(x => x.PersonelAd)
        @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PersonelAd, "", new { @style = "color:red" })
    </div>

    <br />

    <div class="form-group">
        @Html.LabelFor(x => x.PersonelSoyad)
        @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PersonelSoyad, "", new { @style = "color:red" })
    </div>

    <br />

    <div class="form-group">
        @Html.LabelFor(x => x.PersonelGorsel)
        <input type="file" name="PersonelGorsel" />
    </div>

    <br />

    @* dropdown bölümü *@
    <div class="form-group">
        @Html.LabelFor(x => x.Departman)
        @Html.DropDownListFor(x => x.Departmanid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    </div>

    <button class="btn btn-info" style="background-color:yellowgreen">Güncelle</button>
}

